.player{
    display: flex;
    align-items: center;
    width: 200px;
    overflow: hidden;
    background-color: lightgrey;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    

    span {
        font-size: 24px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 5px;

    }
}

.player-active{
    background-color: orange;
}