.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/tisch.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;   
}


.card-stack{
    position: relative;
    img{
        position: absolute;
        width: 120px;
        height: auto;
    }
}


.top-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}


.played-card{
    right: 25px;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
}

.pick-card{
    animation: pickCardAnimation 1s ease-in-out;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
    
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
    }
}

.player-position{
    position: absolute;
    right: 0px;
}

.btn-add{
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 999;

    @media (max-width: 720px) {
        bottom: 130px;
    }
}


.pin-bottom{
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    
    @media (max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.scroll-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

app-player-mobile{
    margin-left: 8px;
}


@media (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 720px) {
    .hide-desktop {
        display: none;
    }
}

app-player, app-player-mobile {
    cursor: pointer;
     &:hover {
        filter: brightness(1.15);
    }     
}

.game-over{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;

    img{
        background-size: cover;
        width: 100%;
        height: 100vh;
        object-fit: contain;
    }
}