.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: lightgrey;    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    

    span {
        font-size: 16px;
        
    }

    img{
        margin-top: 16px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 5px;

    }
}

.player-active{
    background-color: orange;
}